.spacePageContainer {
  background-color: #f9f9f9;

  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 16px;
  display: grid;
  padding: 20px;
  height: 100vh;
}

.spaceCard {
  grid-column: span 1;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  height: max-content;
}

@media (min-width: 700px) {
  .spacePageContainer {
    grid-template-columns: repeat(3, 1fr);
  }
  .spaceCard {
    grid-column: span 2;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .spacePageContainer {
    grid-template-columns: repeat(5, 1fr);
  }
  .spaceCard {
    grid-column: span 4;
    grid-template-columns: repeat(4, 1fr);
  }
}
